Laboratorio2/WebApp/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcf.Controller" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcf.Controller" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Productos">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaFactura" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFacturaFin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaFacturaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdFactura" type="xs:int" />
      <xs:element minOccurs="0" name="NombreProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioTotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Productos" nillable="true" type="tns:Productos" />
  <xs:complexType name="ArrayOfProductos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Productos" nillable="true" type="tns:Productos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductos" nillable="true" type="tns:ArrayOfProductos" />
</xs:schema>